body{
    margin: 0;

}
.div-View{
    width: 80vw;
    height: 60vh;
    background: url("../images/TeSTAR_logo.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}